@model WebApplication20.Models.App_ExistingOwnership

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>App_ExistingOwnership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ErfSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErfSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Improvement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Improvement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaseAggreement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaseAggreement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutstandingAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutstandingAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfFirstOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfFirstOccupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhoIsOccupyingTheErf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhoIsOccupyingTheErf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhoIsResponsibleForPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhoIsResponsibleForPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.App_Applicant.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.App_Applicant.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.App_Erf.ErfNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.App_Erf.ErfNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExistingOwnershipID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
